@page "/myapps"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using agileways.usermgt.admin.client.Shared.DirectoryObjects
@attribute [Authorize]
@inject HttpClient Http
@inject AuthenticationStateProvider AuthState

<h1>My Apps</h1>

<p>This page displays the Applications I have access to along with my role for each.</p>

@if (arats == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Role ID</th>
                <th>Role Name</th>
                <th>Principal ID</th>
                <th>Principal Name</th>
                <th>Principal Type</th>
                <th>Resource ID</th>
                <th>Resource Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var arat in arats)
            {
                <tr>
                    <td>@arat.Id</td>
                    <td>@arat.AppRoleId</td>
                    <td>@arat.AppRoleName</td>
                    <td>@arat.PrincipalId</td>
                    <td>@arat.PrincipalDisplayName</td>
                    <td>@arat.PrincipalType</td>
                    <td>@arat.ResourceId</td>
                    <td>@arat.ResourceDisplayName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<AppRoleAssignedTo> arats;
    private IDictionary<string, string> rolesDict;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = (await AuthState.GetAuthenticationStateAsync()).User;
            var userId = user.Claims.First(c => c.Type == "sub")?.Value;

            arats = await Http.GetFromJsonAsync<IEnumerable<AppRoleAssignedTo>>($"user/{userId}/assignments");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
